## folders to be ignored ##
bin/
out/
build/
**/build
.gradle/
gradle/
.idea/
Users/
.run/
.jpb/
.vscode/

## file to be ignored ##
.project
.settings
*.http
*.classpath
*.iml
*.ipr
*.iws
*.patch
*.class
**/.metadata/
.DS_Store

